.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .p-button {
    margin-right: 0.5rem;
  }
  
  .p-button:last-child {
    margin-right: 0;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .p-m-0 {
    margin: 0;
  }
  
  .p-mb-2 {
    margin-bottom: 0.5rem;
  }
  