<p-toast></p-toast>
<p-card>
  <ng-template pTemplate="header">
    <div class="form-header">
      <h2 class="p-m-0">Nova Casa de Apostas</h2>
    </div>
  </ng-template>

  <form #bookmakerForm="ngForm" class="p-fluid">
    <!-- Nome -->
    <div class="p-field p-grid">
      <label for="name" class="p-col-12 p-md-2">Nome</label>
      <div class="p-col-12 p-md-10">
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="bookmaker.name"
          name="name"
          required
          #name="ngModel"
          [ngClass]="{ 'ng-dirty': name.invalid && name.touched }"
        />
        <small *ngIf="name.invalid && name.touched" class="p-error">
          Nome é obrigatório.
        </small>
      </div>
    </div>

    <!-- Botões -->
    <div class="button-container">
      <p-button
        label="Salvar"
        icon="pi pi-check"
        class="p-button-sm p-button-success"
        severity="success"
        (click)="createBookmaker()"
        [disabled]="bookmakerForm.invalid"
      ></p-button>
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-sm p-button-secondary ml-2"
        severity="danger"
        (click)="goBack()"
      ></p-button>
    </div>
  </form>
</p-card>
